<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyao.activity.dao.ActivityMapperExt" >
  <resultMap id="BaseResultMap" type="com.xiaoyao.activity.model.Activity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="person_id" property="personId" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="way" property="way" jdbcType="VARCHAR" />
    <result column="payWay" property="payway" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, address, content, date, person_id, cost, city, way, payWay
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaoyao.activity.model.ActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_PUBLISH_ACTIVITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_PUBLISH_ACTIVITY
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_PUBLISH_ACTIVITY
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaoyao.activity.model.ActivityExample" >
    delete from T_PUBLISH_ACTIVITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaoyao.activity.model.Activity" useGeneratedKeys="true" keyProperty="id">
    insert into T_PUBLISH_ACTIVITY (id, type, address, 
      content, date, person_id, 
      cost, city, way, payWay
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{personId,jdbcType=INTEGER}, 
      #{cost,jdbcType=DECIMAL}, #{city,jdbcType=VARCHAR}, #{way,jdbcType=VARCHAR}, #{payway,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyao.activity.model.Activity" useGeneratedKeys="true" keyProperty="id">
    insert into T_PUBLISH_ACTIVITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="personId != null" >
        person_id,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="way != null" >
        way,
      </if>
      <if test="payway != null" >
        payWay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="personId != null" >
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="way != null" >
        #{way,jdbcType=VARCHAR},
      </if>
      <if test="payway != null" >
        #{payway,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaoyao.activity.model.ActivityExample" resultType="java.lang.Integer" >
    select count(*) from T_PUBLISH_ACTIVITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_PUBLISH_ACTIVITY
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.personId != null" >
        person_id = #{record.personId,jdbcType=INTEGER},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=DECIMAL},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.way != null" >
        way = #{record.way,jdbcType=VARCHAR},
      </if>
      <if test="record.payway != null" >
        payWay = #{record.payway,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_PUBLISH_ACTIVITY
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=TIMESTAMP},
      person_id = #{record.personId,jdbcType=INTEGER},
      cost = #{record.cost,jdbcType=DECIMAL},
      city = #{record.city,jdbcType=VARCHAR},
      way = #{record.way,jdbcType=VARCHAR},
      payWay = #{record.payway,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyao.activity.model.Activity" >
    update T_PUBLISH_ACTIVITY
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="personId != null" >
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="way != null" >
        way = #{way,jdbcType=VARCHAR},
      </if>
      <if test="payway != null" >
        payWay = #{payway,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyao.activity.model.Activity" >
    update T_PUBLISH_ACTIVITY
    set type = #{type,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      person_id = #{personId,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL},
      city = #{city,jdbcType=VARCHAR},
      way = #{way,jdbcType=VARCHAR},
      payWay = #{payway,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 分页查询 -->
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.xiaoyao.activity.model.ActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_PUBLISH_ACTIVITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <!--  
    <if test="start !=0 or limit!=0">limit #{start},#{limit}</if>
    -->
  </select>
  
  <!-- 我发布的信息 -->
  <select id="ipublish" resultType="com.xiaoyao.activity.model.ActivityQuery" parameterType="com.xiaoyao.base.model.Person" >
    SELECT 
    t.id,
	CASE t.type 
	WHEN 'sale_service' THEN '出售服务' 
	WHEN 'reward_task' THEN '悬赏服务' 
	WHEN 'school_activity' THEN '门派活动' 
	ELSE '其他' END type,
	t.address,t.content,t.date,t.cost,t.city ,
    u.name urls
    FROM 
	T_PUBLISH_ACTIVITY t LEFT JOIN T_UPLOAD_FILE u on u.activity_id = t.id
	WHERE t.person_id in
	(select id from T_BASE_PERSON where user_id = #{userId})
  </select>
  
  <!-- 我参与的活动-->
  <select id="ijoin" resultType="com.xiaoyao.activity.model.ActivityQuery" parameterType="com.xiaoyao.base.model.Person" >
	SELECT 
	DISTINCT
	t.id,
	CASE t.type 
	WHEN 'sale_service' THEN '出售服务' 
	WHEN 'reward_task' THEN '悬赏服务' 
	WHEN 'school_activity' THEN '门派活动' 
	ELSE '其他' END type,
	t.address,t.content,t.date,t.cost,t.city ,
    u.name urls,
    t2.id joinedId,
    t2.state
	FROM 
	T_PUBLISH_ACTIVITY t 
	LEFT JOIN T_UPLOAD_FILE u on u.activity_id = t.id
	LEFT JOIN T_ACTIVITY_PERSON t2 on t2.activity_id = t.id
	WHERE t.id in (
	SELECT activity_id FROM T_ACTIVITY_PERSON 
	where person_id in 
	(select id from T_BASE_PERSON where user_id = #{userId})
	)
  </select>
  
</mapper>