<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.lab.dao.FashionMapper" >
  <resultMap id="BaseResultMap" type="com.group.lab.model.Fashion" >
    <id column="fashion_id" property="fashionId" jdbcType="INTEGER" />
    <result column="num_iid" property="numIid" jdbcType="VARCHAR" />
    <result column="open_iid" property="openIid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="lab_price" property="labPrice" jdbcType="DECIMAL" />
    <result column="cue" property="cue" jdbcType="VARCHAR" />
    <result column="classify_id" property="classifyId" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="sale_type" property="saleType" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
    <result column="sale_time" property="saleTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fashion_id, num_iid, open_iid, title, nick, shop_name, lab_price, cue, classify_id, 
    brand, sale_type, qty, sale_time, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.group.lab.model.FashionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lab_fashion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start !=0 or limit!=0">limit #{start},#{limit}</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lab_fashion
    where fashion_id = #{fashionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lab_fashion
    where fashion_id = #{fashionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.lab.model.FashionExample" >
    delete from lab_fashion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.lab.model.Fashion" >
    insert into lab_fashion (fashion_id, num_iid, open_iid, 
      title, nick, shop_name, 
      lab_price, cue, classify_id, 
      brand, sale_type, qty, 
      sale_time, create_time, create_user, 
      update_time, update_user)
    values (#{fashionId,jdbcType=INTEGER}, #{numIid,jdbcType=VARCHAR}, #{openIid,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, 
      #{labPrice,jdbcType=DECIMAL}, #{cue,jdbcType=VARCHAR}, #{classifyId,jdbcType=INTEGER}, 
      #{brand,jdbcType=VARCHAR}, #{saleType,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER}, 
      #{saleTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.group.lab.model.Fashion" >
    insert into lab_fashion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fashionId != null" >
        fashion_id,
      </if>
      <if test="numIid != null" >
        num_iid,
      </if>
      <if test="openIid != null" >
        open_iid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="labPrice != null" >
        lab_price,
      </if>
      <if test="cue != null" >
        cue,
      </if>
      <if test="classifyId != null" >
        classify_id,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="saleType != null" >
        sale_type,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="saleTime != null" >
        sale_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fashionId != null" >
        #{fashionId,jdbcType=INTEGER},
      </if>
      <if test="numIid != null" >
        #{numIid,jdbcType=VARCHAR},
      </if>
      <if test="openIid != null" >
        #{openIid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="labPrice != null" >
        #{labPrice,jdbcType=DECIMAL},
      </if>
      <if test="cue != null" >
        #{cue,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null" >
        #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null" >
        #{saleType,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null" >
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.lab.model.FashionExample" resultType="java.lang.Integer" >
    select count(*) from lab_fashion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lab_fashion
    <set >
      <if test="record.fashionId != null" >
        fashion_id = #{record.fashionId,jdbcType=INTEGER},
      </if>
      <if test="record.numIid != null" >
        num_iid = #{record.numIid,jdbcType=VARCHAR},
      </if>
      <if test="record.openIid != null" >
        open_iid = #{record.openIid,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.nick != null" >
        nick = #{record.nick,jdbcType=VARCHAR},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.labPrice != null" >
        lab_price = #{record.labPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.cue != null" >
        cue = #{record.cue,jdbcType=VARCHAR},
      </if>
      <if test="record.classifyId != null" >
        classify_id = #{record.classifyId,jdbcType=INTEGER},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.saleType != null" >
        sale_type = #{record.saleType,jdbcType=VARCHAR},
      </if>
      <if test="record.qty != null" >
        qty = #{record.qty,jdbcType=INTEGER},
      </if>
      <if test="record.saleTime != null" >
        sale_time = #{record.saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lab_fashion
    set fashion_id = #{record.fashionId,jdbcType=INTEGER},
      num_iid = #{record.numIid,jdbcType=VARCHAR},
      open_iid = #{record.openIid,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      nick = #{record.nick,jdbcType=VARCHAR},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      lab_price = #{record.labPrice,jdbcType=DECIMAL},
      cue = #{record.cue,jdbcType=VARCHAR},
      classify_id = #{record.classifyId,jdbcType=INTEGER},
      brand = #{record.brand,jdbcType=VARCHAR},
      sale_type = #{record.saleType,jdbcType=VARCHAR},
      qty = #{record.qty,jdbcType=INTEGER},
      sale_time = #{record.saleTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.lab.model.Fashion" >
    update lab_fashion
    <set >
      <if test="numIid != null" >
        num_iid = #{numIid,jdbcType=VARCHAR},
      </if>
      <if test="openIid != null" >
        open_iid = #{openIid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="labPrice != null" >
        lab_price = #{labPrice,jdbcType=DECIMAL},
      </if>
      <if test="cue != null" >
        cue = #{cue,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null" >
        classify_id = #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="saleType != null" >
        sale_type = #{saleType,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null" >
        sale_time = #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where fashion_id = #{fashionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.lab.model.Fashion" >
    update lab_fashion
    set num_iid = #{numIid,jdbcType=VARCHAR},
      open_iid = #{openIid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      lab_price = #{labPrice,jdbcType=DECIMAL},
      cue = #{cue,jdbcType=VARCHAR},
      classify_id = #{classifyId,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      sale_type = #{saleType,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      sale_time = #{saleTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where fashion_id = #{fashionId,jdbcType=INTEGER}
  </update>
</mapper>