<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.lab.dao.AreaFashionsMapper" >
  <resultMap id="BaseResultMap" type="com.group.lab.model.AreaFashions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="area_type" property="areaType" jdbcType="VARCHAR" />
    <result column="num_iid" property="numIid" jdbcType="VARCHAR" />
    <result column="is_sale" property="isSale" jdbcType="CHAR" />
    <result column="sale_time" property="saleTime" jdbcType="TIMESTAMP" />
    <result column="is_stick" property="isStick" jdbcType="CHAR" />
    <result column="stick_time" property="stickTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, area_id, area_type, num_iid, is_sale, sale_time, is_stick, stick_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.group.lab.model.AreaFashionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lab_area_fashions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start !=0 or limit!=0">limit #{start},#{limit}</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lab_area_fashions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lab_area_fashions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.lab.model.AreaFashionsExample" >
    delete from lab_area_fashions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.lab.model.AreaFashions" >
    insert into lab_area_fashions (id, area_id, area_type, 
      num_iid, is_sale, sale_time, 
      is_stick, stick_time)
    values (#{id,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, #{areaType,jdbcType=VARCHAR}, 
      #{numIid,jdbcType=VARCHAR}, #{isSale,jdbcType=CHAR}, #{saleTime,jdbcType=TIMESTAMP}, 
      #{isStick,jdbcType=CHAR}, #{stickTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.group.lab.model.AreaFashions" >
    insert into lab_area_fashions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="areaType != null" >
        area_type,
      </if>
      <if test="numIid != null" >
        num_iid,
      </if>
      <if test="isSale != null" >
        is_sale,
      </if>
      <if test="saleTime != null" >
        sale_time,
      </if>
      <if test="isStick != null" >
        is_stick,
      </if>
      <if test="stickTime != null" >
        stick_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaType != null" >
        #{areaType,jdbcType=VARCHAR},
      </if>
      <if test="numIid != null" >
        #{numIid,jdbcType=VARCHAR},
      </if>
      <if test="isSale != null" >
        #{isSale,jdbcType=CHAR},
      </if>
      <if test="saleTime != null" >
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isStick != null" >
        #{isStick,jdbcType=CHAR},
      </if>
      <if test="stickTime != null" >
        #{stickTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.lab.model.AreaFashionsExample" resultType="java.lang.Integer" >
    select count(*) from lab_area_fashions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lab_area_fashions
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.areaType != null" >
        area_type = #{record.areaType,jdbcType=VARCHAR},
      </if>
      <if test="record.numIid != null" >
        num_iid = #{record.numIid,jdbcType=VARCHAR},
      </if>
      <if test="record.isSale != null" >
        is_sale = #{record.isSale,jdbcType=CHAR},
      </if>
      <if test="record.saleTime != null" >
        sale_time = #{record.saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isStick != null" >
        is_stick = #{record.isStick,jdbcType=CHAR},
      </if>
      <if test="record.stickTime != null" >
        stick_time = #{record.stickTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lab_area_fashions
    set id = #{record.id,jdbcType=INTEGER},
      area_id = #{record.areaId,jdbcType=INTEGER},
      area_type = #{record.areaType,jdbcType=VARCHAR},
      num_iid = #{record.numIid,jdbcType=VARCHAR},
      is_sale = #{record.isSale,jdbcType=CHAR},
      sale_time = #{record.saleTime,jdbcType=TIMESTAMP},
      is_stick = #{record.isStick,jdbcType=CHAR},
      stick_time = #{record.stickTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.lab.model.AreaFashions" >
    update lab_area_fashions
    <set >
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaType != null" >
        area_type = #{areaType,jdbcType=VARCHAR},
      </if>
      <if test="numIid != null" >
        num_iid = #{numIid,jdbcType=VARCHAR},
      </if>
      <if test="isSale != null" >
        is_sale = #{isSale,jdbcType=CHAR},
      </if>
      <if test="saleTime != null" >
        sale_time = #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isStick != null" >
        is_stick = #{isStick,jdbcType=CHAR},
      </if>
      <if test="stickTime != null" >
        stick_time = #{stickTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.lab.model.AreaFashions" >
    update lab_area_fashions
    set area_id = #{areaId,jdbcType=INTEGER},
      area_type = #{areaType,jdbcType=VARCHAR},
      num_iid = #{numIid,jdbcType=VARCHAR},
      is_sale = #{isSale,jdbcType=CHAR},
      sale_time = #{saleTime,jdbcType=TIMESTAMP},
      is_stick = #{isStick,jdbcType=CHAR},
      stick_time = #{stickTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!-- 自定义sql -->
  
  <!-- 查询品牌馆下的服装 -->
  <select id="selectVenueFashions" resultType="String">
  	select t3.num_iid
	from lab_area_fashions t1 left join lab_brand t2 on t1.area_id = t2.brand_id
	left join lab_fashions t3 on t1.num_iid = t3.num_iid
	where t1.area_type = 'brand' and t2.venue_id = #{venueId}
	order by t1.stick_time
	limit ${start},${limit}
  </select>
  
  <!-- 查询品牌以及品牌下的首件服装 -->
  <select id="selectBrandFirstFashion" resultType="java.util.Map">
  	select a.brand_id,a.name,a.logo,a.num_iid,b.main_image fashionUrl,b.tbk_shot_url tbkShotUrl,b.tbk_url tbkUrl,b.price
	from (
	select 
		t1.brand_id,t1.name,t1.logo,
		(select num_iid from lab_area_fashions where area_type = 'brand' and area_id = t1.brand_id order by stick_time DESC limit 1) num_iid
		from lab_brand t1
		where (t1.is_main is null or t1.is_main != 'Y')
		<if test="venueId != null and venueId != ''">
			and t1.venue_id = #{venueId}
		</if>
		order by t1.stick_time DESC
		limit ${start},${limit}
	) a
	left join lab_fashions b on a.num_iid = b.num_iid
  </select>
</mapper>